We generally start our code by importing the liberaries which we will throughtout the program.

In [1]:

import numpy as np
import pandas as pd
import sklearn

Now we will load the data that we will be using to train our model

Here er are using boston_house_pricing data set which is available in the sklearn liberary itself.

In [2]:
from sklearn.datasets import load_boston
df = load_boston()

In [3]:
df.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [4]:
boston=pd.DataFrame(df.data, columns=df.feature_names)

In [6]:
boston['MEDV']=df.target

In [7]:
boston.isnull()

      CRIM     ZN  INDUS   CHAS    NOX  ...    TAX  PTRATIO      B  LSTAT   MEDV
0    False  False  False  False  False  ...  False    False  False  False  False
1    False  False  False  False  False  ...  False    False  False  False  False
2    False  False  False  False  False  ...  False    False  False  False  False
3    False  False  False  False  False  ...  False    False  False  False  False
4    False  False  False  False  False  ...  False    False  False  False  False
..     ...    ...    ...    ...    ...  ...    ...      ...    ...    ...    ...
501  False  False  False  False  False  ...  False    False  False  False  False
502  False  False  False  False  False  ...  False    False  False  False  False
503  False  False  False  False  False  ...  False    False  False  False  False
504  False  False  False  False  False  ...  False    False  False  False  False
505  False  False  False  False  False  ...  False    False  False  False  False

[506 rows x 14 columns]

In [8]:
boston.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [10]:
from sklearn.model_selection import train_test_split
X= boston.drop('MEDV',axis=1)
Y= boston['MEDV']

X_train,X_test,Y_train,Y_test=  train_test_split(X,Y,test_size=0.15,random_state=5)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(430, 13)
(76, 13)
(430,)
(76,)

In [11]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [12]:
lin_model=LinearRegression()
lin_model.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [13]:
Y_train_predict = lin_model.predict(X_train)
rmse=np.sqrt(mean_squared_error(Y_train,Y_train_predict))
print("The model performance for training set")
print(f"RMSE is {rmse}\n")

#on testing dataset
Y_test_predict=lin_model.predict(X_test)
rmse=np.sqrt(mean_squared_error(Y_test,Y_test_predict))
print("The model performance for training set")
print(f"RMSE is {rmse}")

The model performance for training set
RMSE is 4.710901797319796

The model performance for training set
RMSE is 4.687543527902972